<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- java null 과 DB NULL을 같은 상태로 적용 -->
		<setting name="jdbcTypeForNull" value="NULL"></setting>

		<!-- 카멜케이스와 언더스코어 방식에 호환성 적용 -->
		<setting name="mapUnderscoreToCamelCase" value="true"></setting>
	</settings>
</configuration>
