<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.lemona.member.model.mapper.MemberMapper">

	<!-- 로그인(조회) -->
	<select id="login" resultType="Member">
		SELECT MEMBER_NO, MEMBER_EMAIL,
		MEMBER_NICKNAME, MEMBER_PW
		FROM "MEMBER"
		WHERE MEMBER_ID = #{memberID}
		AND MEMBER_DEL_FL = 'N'
	</select>

	<!-- 이메일 중복 검사 -->
	<select id="checkEmail" resultType="_int">
		SELECT COUNT(*)
		FROM "MEMBER"
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND MEMBER_DEL_FL = 'N'
	</select>

	<!-- 닉네임 중복 검사 -->
	<select id="checkNickname">
		SELECT COUNT(*)
		FROM "MEMBER"
		WHERE MEMBER_NICKNAME =
		#{memberNickname}
		AND MEMBER_DEL_FL = 'N'
	</select>

    <!-- 회원가입  -->
	<insert id="register">
		INSERT INTO "MEMBER" (
		MEMBER_NO,
		MEMBER_ID,
		MEMBER_NAME,
		MEMBER_NICKNAME,
		MEMBER_EMAIL,
		MEMBER_PW
		)
		VALUES (
		SEQ_MEMBER_NO.NEXTVAL,
		#{memberId},
		#{memberName},
		#{memberNickname},
		#{memberEmail},
		#{memberPw}
		)
	</insert>
</mapper>
