<div th:fragment="cozyList" class="cozyList">
  <!-- 게시글 없을 때 -->
  <div th:if="${#lists.isEmpty(boardList)}" class="no-recipes">
    <p>등록된 게시글이 없습니다.</p>
  </div>

  <!-- 게시글 목록 -->
  <div th:unless="${#lists.isEmpty(boardList)}" class="recipe-grid">
    <div th:each="board : ${boardList}" class="recipe-item">
      <div class="recipe-image">
        <!-- <img th:src="${board.thumbnail}" alt="레시피 이미지"> -->
        <a th:if="${key != null}"
          th:href="@{/board/{boardCode}/{categoryNo}/{boardNo}(boardCode=${board.boardCode}, categoryNo=${categoryNo}, boardNo=${board.boardNo}, cp=${pagination.currentPage}, key=${param.key}, queryb=${param.queryb})} + '&sort=' +  ${sort} ">
          <!-- 레시피 게시판 썸네일 -->
          <img onerror="this.onerror=null; this.src='/images/lemona-logo.png';"
            th:src="${#strings.isEmpty(board.thumbnailImgRename) ? '/images/lemona-logo.png' : board.thumbnailImgPath + board.thumbnailImgRename}"
            alt="레시피 이미지" />
        </a>
        <a th:if="${key == null}"
          th:href="@{/board/{boardCode}/{categoryNo}/{boardNo}(boardCode=${board.boardCode}, categoryNo=${categoryNo}, boardNo=${board.boardNo}, cp=${pagination.currentPage})} + '&sort=' +  ${sort} ">
          <!-- 레시피 게시판 썸네일 -->
          <img onerror="this.onerror=null; this.src='/images/lemona-logo.png';"
            th:src="${#strings.isEmpty(board.thumbnailImgRename) ? '/images/lemona-logo.png' : board.thumbnailImgPath + board.thumbnailImgRename}"
            alt="레시피 이미지" />
        </a>
      </div>

      <!-- 글 제목 클릭 시 이동 -->
      <div class="recipe-info">
        <h3 class="recipe-title">
          <a th:href="@{/board/{boardCode}/{categoryNo}/{boardNo}(boardCode=${board.boardCode}, categoryNo=${categoryNo}, boardNo=${board.boardNo}, cp=${pagination.currentPage})} + '&sort=' +  ${sort}"
            th:utext="${board.boardTitle}">레몬 팬케이크
          </a>
          <span class="comment-count" th:text="'[' + ${board.commentCount} + ']'">[0]</span>
        </h3>

        <!-- 레시피 게시판 해시태그 -->
        <div class="recipe-tags">
          <span class="tag" th:each="tag : ${board.hashTagList}" th:utext="'#' +${tag}">#레몬</span>
        </div>
        <div class="recipe-meta">
          <div class="author-info">
            <img th:src="${#strings.isEmpty(board.profileImg) ? '/images/user.png' : board.profileImg}" alt="프로필 이미지"
              class="author-image" />
            <span class="author-name" th:utext="${board.memberNickname}">장미애 님</span>
          </div>
          <span class="recipe-date" th:text="${board.boardCreateDate}">2025-05-09</span>
        </div>
        <div class="recipe-stats">
          <button type="button" class="likes" th:data-login-member-no="${session.loginMember?.memberNo}"
            th:data-board-code="${board.boardCode}" th:data-board-no="${board.boardNo}"
            th:data-like-check="${board.likeCheck}"
            th:classappend="${board.likeCheck == 1} ? likeChecked : likeUnChecked">
            <i class="fa-lemon" th:classappend="${board.likeCheck == 1} ? fa-solid : fa-regular"></i>
            <span th:text="${board.likeCount}">28</span>
          </button>
          <div class="views">
            <i class="material-symbols-outlined align-middle">visibility</i>
            <span th:text="${board.readCount}">36</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>