<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LEMONA - 게시글 보기</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/board/defaultBoardDetail.css">
  <link rel="stylesheet" href="/css/board/comment.css">
  <th:block th:replace="~{common/common}"></th:block>

  <!-- 아이콘 -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>

<body>
  <!-- 헤더 프래그먼트 -->
  <header th:replace="~{common/header :: header}"></header>

  <!-- 네비게이션 프래그먼트 -->
  <nav th:replace="~{common/navigation :: navigation}"></nav>

  <!-- 컨텐츠 -->
  <section class=" board-detail">
    <!-- 제목, 작성일, 조회수-->
    <div class="container-title">
      <div class="container-inner">
        <div class="text-left">
          <span th:text="${board.boardTitle}" class="board-title">게시글 제목</span>
          <span class="board-update" th:text="${board.boardCreateDate}">작성일</span>
        </div>
        <div class="text-right">
          <div class="likes">
            <i class="fa-solid fa-lemon" style="color: #FFD43B;"></i>
            <span th:text="${board.likeCount}">좋아요</span>
          </div>
          <div>
            <i class="material-symbols-outlined align-middle">visibility</i>
            <span th:text="${board.readCount}" class="align-middle">조회수</span>
          </div>
        </div>
      </div>
    </div>

    <!-- 작성자 -->
    <div class="container-member">
      <div class="container-inner">
        <div class="member">
          <!-- 프로필 이미지가 없으면 기본 이미지 출력 -->
          <img th:src="${#strings.isEmpty(board.profileImg) ? '/images/user.png' : board.profileImg}" alt="프로필 이미지">
          <span th:text="${board.memberNickname}">작성자 닉네임</span>
        </div>

        <!-- 게시글 작성자라면 수정, 삭제 버튼 보임-->
        <div class="button-container">
          <th:block th:if="${board.memberNo == session.loginMember?.memberNo}">
            <button class="updateBtn">수정 버튼</button>
            <button class="deleteBtn">삭제 버튼</button>
          </th:block>
        </div>
      </div>
    </div>

    <!-- 내용 -->
    <div class="container-content">
      <div class="container-inner">
        <!-- 서머노트로 저장된 HTML 내용이 들어감 -->
        <div class="mt-4" th:utext="${board.boardContent}">게시글 내용</div>
      </div>
    </div>

    <div class="container-page" id="naviBtn"
      th:attr="data-prev-board-no=${prevBoardNo}, data-next-board-no=${nextBoardNo}">
      <a id="goToPrev"><span class="material-symbols-outlined align-middle">chevron_left</span><span>이전 글</span></a>
      <a id="goToListBtn"><span>목록으로</span></a>
      <a id="goToNext">
        <sapn>다음 글</sapn><span class="material-symbols-outlined align-middle">chevron_right</span>
      </a>
    </div>
  </section>

  <!-- 댓글 영역-->
  <th:block th:replace="~{board/comment}"></th:block>

  <!-- 푸터 프래그먼트 -->
  <footer th:replace="~{common/footer :: footer}"></footer>
  <th:block th:replace="~{common/header :: search-header-js}"></th:block>


  <script th:inline="javascript">

    // 페이지 네이션 cp
    const urlParams = new URLSearchParams(location.search);
    const cp = urlParams.get("cp") || 1;

    const boardCode = /*[[${board.boardCode}]]*/ 0;

    // - loginMember가 null 인 경우 null 반환
    const loginMemberNo = /*[[${session.loginMember?.memberNo}]]*/ "로그인 회원 번호";

    // 현재 게시글 번호를 전역 변수로 저장
    const boardNo = /*[[${board.boardNo}]]*/ "게시글 번호";

    const userDefaultIamge = /*[[#{user.default.image}]]*/ "기본이미지";

  </script>

  <script src="/js/board/defaultBoardDetail.js"></script>
  <script src="/js/board/comment.js"></script>
</body>

</html>