:root {
  --content-color: rgba(163, 163, 163, 1);
  --button-color: rgba(221, 221, 221, 1);
  --input-color: rgba(240, 239, 239, 1);
  --yellow: rgba(238, 182, 4, 1);
  --lemon: rgba(255, 214, 52, 1);
  --lightyellow: rgba(250, 231, 154, 1);
  --deepgreen: rgba(95, 115, 39, 1);
  --green: rgba(132, 149, 23, 1);
  --deepbrown: rgba(80, 49, 3, 1);
  --brown: rgba(171, 113, 34, 1);
  --lightbrown: var(--variable-collection-lightbrown);
  --beige: rgba(228, 212, 179, 1);
  --milk: rgba(255, 249, 228, 1);
  --darkgray: rgba(49, 49, 49, 1);
  --deepgray: rgba(94, 94, 94, 1);
  --gray: rgba(154, 154, 154, 1);
  --lightgray: rgba(227, 227, 227, 1);
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --pink: rgba(244, 151, 215, 1);
  --red: rgba(255, 0, 0, 1);
  --pre-h-1-font-family: "Pretendard", Helvetica;
  --pre-h-1-font-weight: 700;
  --pre-h-1-font-size: 16px;
  --pre-h-1-letter-spacing: 0px;
  --pre-h-1-line-height: normal;
  --pre-h-1-font-style: normal;
  --pre-p-2-font-family: "Pretendard", Helvetica;
  --pre-p-2-font-weight: 400;
  --pre-p-2-font-size: 16px;
  --pre-p-2-letter-spacing: 0px;
  --pre-p-2-line-height: normal;
  --pre-p-2-font-style: normal;
  --pre-p-3-font-family: "Pretendard", Helvetica;
  --pre-p-3-font-weight: 400;
  --pre-p-3-font-size: 20px;
  --pre-p-3-letter-spacing: 0px;
  --pre-p-3-line-height: normal;
  --pre-p-3-font-style: normal;
  --pre-h-2-font-family: "Pretendard", Helvetica;
  --pre-h-2-font-weight: 700;
  --pre-h-2-font-size: 24px;
  --pre-h-2-letter-spacing: 0px;
  --pre-h-2-line-height: normal;
  --pre-h-2-font-style: normal;
  --ryu-p-1-font-family: "Ownglyph ryuttung", Helvetica;
  --ryu-p-1-font-weight: 400;
  --ryu-p-1-font-size: 12px;
  --ryu-p-1-letter-spacing: 0px;
  --ryu-p-1-line-height: normal;
  --ryu-p-1-font-style: normal;
  --ryu-p-2-font-family: "Ownglyph ryuttung", Helvetica;
  --ryu-p-2-font-weight: 400;
  --ryu-p-2-font-size: 16px;
  --ryu-p-2-letter-spacing: 0px;
  --ryu-p-2-line-height: normal;
  --ryu-p-2-font-style: normal;
  --ryu-p-3-font-family: "Ownglyph ryuttung", Helvetica;
  --ryu-p-3-font-weight: 400;
  --ryu-p-3-font-size: 20px;
  --ryu-p-3-letter-spacing: 0px;
  --ryu-p-3-line-height: normal;
  --ryu-p-3-font-style: normal;
  --ryu-h-2-font-family: "Ownglyph ryuttung", Helvetica;
  --ryu-h-2-font-weight: 400;
  --ryu-h-2-font-size: 24px;
  --ryu-h-2-letter-spacing: 0px;
  --ryu-h-2-line-height: normal;
  --ryu-h-2-font-style: normal;
  --ryu-h-3-font-family: "Ownglyph ryuttung", Helvetica;
  --ryu-h-3-font-weight: 400;
  --ryu-h-3-font-size: 32px;
  --ryu-h-3-letter-spacing: 0px;
  --ryu-h-3-line-height: normal;
  --ryu-h-3-font-style: normal;
  --pre-p-4-font-family: "Pretendard", Helvetica;
  --pre-p-4-font-weight: 400;
  --pre-p-4-font-size: 24px;
  --pre-p-4-letter-spacing: 0px;
  --pre-p-4-line-height: normal;
  --pre-p-4-font-style: normal;
  --pre-p-1-font-family: "Pretendard", Helvetica;
  --pre-p-1-font-weight: 400;
  --pre-p-1-font-size: 12px;
  --pre-p-1-letter-spacing: 0px;
  --pre-p-1-line-height: normal;
  --pre-p-1-font-style: normal;
  --ryu-h-4-font-family: "Ownglyph ryuttung", Helvetica;
  --ryu-h-4-font-weight: 400;
  --ryu-h-4-font-size: 96px;
  --ryu-h-4-letter-spacing: 0px;
  --ryu-h-4-line-height: normal;
  --ryu-h-4-font-style: normal;
  --SHADOW: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  --under-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --variable-collection-img-color: rgba(109, 109, 109, 1);
  --variable-collection-color: var(--variable-collection-img-color);
  --variable-collection-lightbrown: rgba(206, 142, 55, 1);
}