<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <th:block th:replace="~{common/common}"></th:block>
  <link rel="stylesheet" th:href="@{/css/board/boardList.css}" />
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
  <!-- 헤더 프래그먼트 -->
  <header th:replace="~{common/header :: header}"></header>

  <!-- 네비게이션 프래그먼트 -->
  <nav th:replace="~{common/navigation :: navigation}"></nav>

  <div class="main-page-index">
    <div class="div">

      <!-- 인기 레시피 구역 -->
      <div class="frame-12">
        <!-- 구역 제목 -->
        <div class="session-title">
          <div class="frame-8">
            <div class="text-wrapper-8">인기 레시피</div>
          </div>
          <div class="frame-wrapper">
            <div class="frame-13">
              <a href="/board/1/popular" class="header-link" th:text="더보기">더보기</a>
            </div>
          </div>
        </div>

        <!-- 게시글 컨테이너 (Cozy View) -->
        <div class="recipe-container cozy-view" id="cozy">
          <!-- 게시글 없을 때 -->
          <div th:if="${#lists.isEmpty(popularBoardList)}" class="no-recipes">
            <p>등록된 게시글이 없습니다.</p>
          </div>

          <!-- 게시글 목록 -->
          <div th:unless="${#lists.isEmpty(popularBoardList)}" class="recipe-grid">
            <!-- 게시글 아이템 -->
            <div th:each="board : ${popularBoardList}" class="recipe-item"
              th:data-url="@{/board/1/{categoryNo}/{boardNo}(categoryNo=${categoryNo}, boardNo=${board.boardNo})}+'?popular=1'">

              <!-- 레시피 게시판 썸네일 -->
              <div class="recipe-image">
                <img onerror="this.onerror=null; this.src='/images/lemona-logo.png';"
                  th:src="${#strings.isEmpty(board.thumbnailImgRename) ? '/images/lemona-logo.png' : board.thumbnailImgPath + board.thumbnailImgRename}"
                  alt="레시피 이미지" />
              </div>

              <!-- 글 제목 / 댓글 수 -->
              <div class="recipe-info">
                <h3 class="recipe-title">
                  <div class="titleText" th:utext="${board.boardTitle}">레몬 팬케이크</div>
                  <span class="comment-count" th:text="'[' + ${board.commentCount} + ']'">[0]</span>
                </h3>

                <!-- 레시피 게시판 해시태그 -->
                <div class="recipe-tags">
                  <span class="tag" th:each="tag : ${board.hashTagList}" th:utext="'#' +${tag}">#레몬</span>
                </div>

                <!-- 상세페이지 이동 X -->
                <div class="rowBox">
                  <div class="recipe-meta non-href">
                    <!-- 사용자 정보 -->
                    <div class="author-info">
                      <img th:src="${#strings.isEmpty(board.profileImg) ? '/images/user.png' : board.profileImg}"
                        alt="프로필 이미지" class="author-image" />
                      <span class="author-name" th:utext="${board.memberNickname}">장미애 님</span>
                    </div>
                    <!-- 작성일 -->
                    <span class="recipe-date" th:text="${board.boardCreateDate}">2025-05-09</span>
                  </div>

                  <!-- 좋아요/조회수 -->
                  <div class="recipe-stats non-href">
                    <!-- 좋아요 버튼 -->
                    <button type="button" class="likes" th:data-login-member-no="${session.loginMember?.memberNo}"
                      th:data-board-code="${board.boardCode}" th:data-board-no="${board.boardNo}"
                      th:data-like-check="${board.likeCheck}"
                      th:classappend="${board.likeCheck == 1} ? likeChecked : likeUnChecked">
                      <i class="fa-lemon" th:classappend="${board.likeCheck == 1} ? fa-solid : fa-regular"></i>
                      <span th:text="${board.likeCount}">28</span>
                    </button>
                    <!-- 조회수 -->
                    <div class="views">
                      <i class="material-symbols-outlined align-middle">visibility</i>
                      <span th:text="${board.readCount}">36</span>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- 최근 레시피 구역 -->
      <div class="frame-12">
        <!-- 구역 제목 -->
        <div class="session-title">
          <div class="frame-8">
            <div class="text-wrapper-8">최근 레시피</div>
          </div>
          <div class="frame-wrapper">
            <div class="frame-13">
              <a href="/board/1/0" class="header-link" th:text="더보기">더보기</a>
            </div>
          </div>
        </div>

        <!-- 게시글 컨테이너 (Agenda View) -->
        <div class="recipe-container agenda-view" id="agenda" style="display: block">
          <!-- 게시글 없을 때 -->
          <div th:if="${#lists.isEmpty(recipeBoardList)}" class="no-recipes">
            <p>등록된 게시글이 없습니다.</p>
          </div>

          <!-- 게시글 목록 -->
          <div th:unless="${#lists.isEmpty(recipeBoardList)}" class="recipe-list">
            <!-- 게시글 아이템 -->
            <div th:each="board : ${recipeBoardList}" class="recipe-item"
              th:data-url="@{/board/1/{categoryNo}/{boardNo}(categoryNo=${categoryNo}, boardNo=${board.boardNo})}">

              <!-- 레시피 게시판 썸네일 -->
              <img class="recipe-image" onerror="this.onerror=null; this.src='/images/lemona-logo.png';"
                th:src="${#strings.isEmpty(board.thumbnailImgRename) ? '/images/lemona-logo.png' : board.thumbnailImgPath + board.thumbnailImgRename}"
                alt="레시피 이미지" />

              <div class="recipe-details">
                <!-- 글 제목 / 댓글 수 -->
                <h3 class="recipe-title">
                  <div class="titleText" th:utext="${board.boardTitle}">레몬 팬케이크</div>
                  <span class="comment-count" th:text="'[' + ${board.commentCount} + ']'">[0]</span>
                </h3>

                <!-- 레시피 게시판 해시태그 -->
                <div class="recipe-tags">
                  <span class="tag" th:each="tag : ${board.hashTagList}" th:utext="'#' +${tag}">#레몬</span>
                </div>

                <div class="recipe-info">
                  <!-- 작성자 정보 -->
                  <div class="recipe-meta non-href">
                    <img class="author-image" onerror="this.onerror=null; this.src='/images/lemona-logo.png';"
                      th:src="${#strings.isEmpty(board.profileImg) ? '/images/lemona-logo.png' : board.profileImg}"
                      alt="레시피 이미지" />
                    <span class="author-name" th:utext="${board.memberNickname}">김아가 님</span>
                    <span class="recipe-date" th:text="${board.boardCreateDate}">2025-05-09</span>
                  </div>

                  <!-- 좋아요 / 조회수-->
                  <div class="recipe-stats non-href">
                    <button type="button" class="likes" th:data-login-member-no="${session.loginMember?.memberNo}"
                      th:data-board-code="${board.boardCode}" th:data-board-no="${board.boardNo}"
                      th:data-like-check="${board.likeCheck}"
                      th:classappend="${board.likeCheck == 1} ? likeChecked : likeUnChecked">
                      <i class="fa-lemon" th:classappend="${board.likeCheck == 1} ? fa-solid : fa-regular"></i>
                      <span th:text="${board.likeCount}">28</span>
                    </button>
                    <div class="views">
                      <i class="material-symbols-outlined align-middle">visibility</i>
                      <span th:text="${board.readCount}">36</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 푸터 프래그먼트 -->
  <footer th:replace="~{common/footer}"></footer>
  <!-- 공통 스크립트 -->
  <script th:src="@{/js/board/mainList.js}"></script>
  <script layout:fragment="script"></script>
  <th:block th:replace="~{common/header :: search-header-js}"></th:block>
</body>

</html>