<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css" />
    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" th:href="@{/css/board/boardList.css}" />
  </head>

  <body>
    <!-- 헤더 프래그먼트 -->
    <header th:replace="~{common/header :: header}"></header>

    <!-- 네비게이션 프래그먼트 -->
    <nav th:replace="~{common/navigation :: navigation}"></nav>

    <div class="main-page-index">
      <div class="div">
        <div class="frame-12">
          <div class="session-title">
            <div class="frame-8">
              <div class="text-wrapper-8">인기 레시피</div>
            </div>
            <div class="frame-wrapper">
              <div class="frame-13">
                <a href="/board/1/popular" class="header-link" th:text="더보기"
                  >더보기</a
                >
              </div>
            </div>
          </div>
          <!-- 게시글 컨테이너 (Cozy View) -->
          <div class="recipe-container cozy-view" id="cozy">
            <!-- 게시글 없을 때 -->
            <div th:if="${#lists.isEmpty(popularBoardList)}" class="no-recipes">
              <p>등록된 게시글이 없습니다.</p>
            </div>

            <!-- 게시글 목록 -->
            <div
              th:unless="${#lists.isEmpty(popularBoardList)}"
              class="recipe-grid"
            >
              <div th:each="board : ${popularBoardList}" class="recipe-item">
                <div class="recipe-image">
                  <!-- <img th:src="${board.thumbnail}" alt="레시피 이미지"> -->
                  <a
                    th:href="@{/board/1/{categoryNo}/{boardNo}(categoryNo=${categoryNo}, boardNo=${board.boardNo})}+'?popular=1'"
                  >
                    <!-- 레시피 게시판 썸네일 -->
                    <img
                      th:src="${#strings.isEmpty(board.thumbnailImgRename) ? '/images/lemona-logo.png' : board.thumbnailImgPath + board.thumbnailImgRename}"
                      alt="레시피 이미지"
                    />
                  </a>
                </div>

                <!-- 글 제목 클릭 시 이동 -->
                <div class="recipe-info">
                  <h3 class="recipe-title">
                    <a
                      th:href="@{/board/1/popular/{boardNo}(boardNo=${board.boardNo})}"
                      th:text="${board.boardTitle}"
                      >레몬 팬케이크
                    </a>
                    <span
                      class="comment-count"
                      th:text="'[' + ${board.commentCount} + ']'"
                      >[0]</span
                    >
                  </h3>

                  <!-- 레시피 게시판 해시태그 -->
              <div class="recipe-tags">
                <span class="tag" th:each="tag : ${board.hashTagList}" th:text="'#' +${tag}">#레몬</span>
              </div>
                  <div class="recipe-meta">
                    <div class="author-info">
                      <img
                        th:src="${#strings.isEmpty(board.profileImg) ? '/images/user.png' : board.profileImg}"
                        alt="프로필 이미지"
                        class="author-image"
                      />
                      <span
                        class="author-name"
                        th:text="${board.memberNickname}"
                        >장미애 님</span
                      >
                    </div>
                    <span class="recipe-date" th:text="${board.boardCreateDate}"
                      >2025-05-09</span
                    >
                  </div>
              <div class="recipe-stats">
                <button type="button" class="likes" th:data-login-member-no="${session.loginMember?.memberNo}"
                  th:data-board-code="${board.boardCode}" th:data-board-no="${board.boardNo}"
                  th:data-like-check="${board.likeCheck}"
                  th:classappend="${board.likeCheck == 1} ? likeChecked : likeUnChecked">
                  <i class="fa-lemon" th:classappend="${board.likeCheck == 1} ? fa-solid : fa-regular"></i>
                  <span th:text="${board.likeCount}">28</span>
                </button>
                <div class="views">
                  <i class="fas fa-eye"></i>
                  <span th:text="${board.readCount}">36</span>
                </div>
              </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-12">
          <div class="session-title">
            <div class="frame-8">
              <div class="text-wrapper-8">최근 레시피</div>
            </div>
            <div class="frame-wrapper">
              <div class="frame-13">
                <a href="/board/1/0" class="header-link" th:text="더보기"
                  >더보기</a
                >
              </div>
            </div>
          </div>

          <!-- 게시글 컨테이너 (Agenda View) -->
          <div
            class="recipe-container agenda-view"
            id="agenda"
            style="display: block"
          >
            <!-- 게시글 없을 때 -->
            <div th:if="${#lists.isEmpty(recipeBoardList)}" class="no-recipes">
              <p>등록된 게시글이 없습니다.</p>
            </div>

            <!-- 게시글 목록 -->
            <div
              th:unless="${#lists.isEmpty(recipeBoardList)}"
              class="recipe-list"
            >
              <div th:each="board : ${recipeBoardList}" class="recipe-item">
                <div class="recipe-image">
                  <!--  <img th:src="${board.thumbnail}" alt="레시피 이미지"> -->
                  <!-- 레시피 게시판 썸네일 -->
                  <a
                    th:href="@{/board/1/{categoryNo}/{boardNo}(categoryNo=${categoryNo}, boardNo=${board.boardNo})}"
                  >
                    <!-- 레시피 게시판 썸네일 -->
                    <img
                      th:src="${#strings.isEmpty(board.thumbnailImgRename) ? '/images/lemona-logo.png' : board.thumbnailImgPath + board.thumbnailImgRename}"
                      alt="레시피 이미지"
                    />
                  </a>
                </div>

                <!-- 글 제목 클릭 시 이동-->
                <div class="recipe-details">
                  <h3 class="recipe-title">
                    <a
                      th:href="@{/board/1/0/{boardNo}(boardNo=${board.boardNo})}"
                      th:text="${board.boardTitle}"
                      >레몬 팬케이크
                    </a>

                    <span
                      class="comment-count"
                      th:text="'[' + ${board.commentCount} + ']'"
                      >[0]</span
                    >
                  </h3>
                  <div class="recipe-meta">
                    <span class="recipe-date" th:text="${board.boardCreateDate}"
                      >2025-05-09</span
                    >
                    <span
                      class="recipe-author"
                      th:text="${board.memberNickname}"
                      >김아가 님</span
                    >
                  </div>
                  <!-- 레시피 게시판 해시태그 -->
                  <div th:if="${board.boardCode == 1}" class="recipe-tags">
                    <span
                      class="tag"
                      th:each="tag : ${board.hashTagList}"
                      th:text="${tag}"
                      >#레몬</span
                    >
                  </div>
              <div class="recipe-stats">
                <button type="button" class="likes" th:data-login-member-no="${session.loginMember?.memberNo}"
                  th:data-board-code="${board.boardCode}" th:data-board-no="${board.boardNo}"
                  th:data-like-check="${board.likeCheck}"
                  th:classappend="${board.likeCheck == 1} ? likeChecked : likeUnChecked">
                  <i class="fa-lemon" th:classappend="${board.likeCheck == 1} ? fa-solid : fa-regular"></i>
                  <span th:text="${board.likeCount}">28</span>
                </button>
                <div class="views">
                  <i class="fas fa-eye"></i>
                  <span th:text="${board.readCount}">36</span>
                </div>
              </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	
	<!-- 푸터 프래그먼트 -->
	<footer th:replace="~{common/footer}"></footer>
    <!-- 공통 스크립트 -->
    <script th:src="@{/js/board/boardList.js}"></script>
    <script layout:fragment="script"></script>
    <th:block th:replace="~{common/header :: search-header-js}"></th:block>
  </body>
</html>
